@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding: 12px;
}
.nav-btn {
  padding: 12px 32px;
  border-radius: 4px;
  background: var(--primary-text, #1d2130);
}
.nav-btn a {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}
.nav-items {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.nav-links {
  color: var(--secondary-text, #525560);
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
}
.nav-links:hover {
  color: var(#000);
  font-size: 16px;
}
header {
  background: var(--green-tertiary, #eff7f2);
}
.hero {
  height: 576px;
  flex-shrink: 0;
  background: var(--green-tertiary, #eff7f2);
}
.donation {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}
.line {
  display: flex;
  align-items: center;
  padding-top: 96px;
}
.start .p-1 {
  color: var(--primary-text, #1d2130);
  font-size: 16px;
  padding-left: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.start .p-2 {
  color: var(--primary-text, #1d2130);

  width: 627px;
  font-size: 56px;
  font-weight: 700;
  padding-left: 92px;
  padding-top: 32px;
}
.start .p-3 {
  color: var(--secondary-text, #525560);
  width: 517px;
  font-size: 16px;

  padding-left: 92px;
  padding-top: 14px;
}
.first-btn {
  padding-left: 92px;
  padding-top: 32px;
}
.first-btn .btn {
  padding: 16px 32px;

  /*  */
  border-radius: 4px;
  background: var(--green-primary, #70c174);
  backdrop-filter: blur(40px);
  border: none;
  /*  */
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
}

.photo {
  padding-top: 96px;
  padding-left: 76px;
}
.earth {
  display: flex;
}
.how .p-1 {
  color: var(--b, #1d2130);
  width: 592px;
  font-size: 48px;

  font-weight: 700;
  line-height: 120%;
  padding-top: 96px;
}
.how .p-2 {
  color: var(--secondary-text, #525560);
  width: 592px;
  font-size: 16px;
  padding-top: 24px;
}
a {
  text-decoration: none;
}
.info {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 258px;
  gap: 24px;
  margin-top: -210px;
}
.liners img {
  margin-top: 50px;
}
.info a {
  color: var(--secondary-text, #525560);
  font-size: 16px;

  font-weight: 500;
  line-height: 160%;
}
.lorems {
  padding-left: 700px;
}
.lorems .p-1 {
  color: var(--secondary-text, #525560);
  width: 592px;
  font-size: 16px;

  line-height: 160%;
  padding-top: 24px;
}
.lorems .p-2 {
  color: var(--secondary-text, #525560);
  width: 592px;
  font-size: 16px;

  line-height: 160%;
  padding-top: 30px;
}
.div {
  padding-top: 90px;
  /* margin-left: -50px; */
  padding-bottom: 96px;
}
.last {
  display: flex;
  justify-content: space-between;
}
.last .p-1 {
  color: var(--b, #1d2130);

  width: 374px;
  font-size: 48px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 120%;
}
.last .p-2 {
  color: var(--secondary-text, #525560);

  width: 338px;
  font-size: 16px;
  font-family: Roboto;
  line-height: 160%;
  padding-bottom: 96px;
}
.background {
  width: 1280px;
  height: 384px;
  background-image: url(../assets/background.png);
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer2 {
  display: flex;
  column-gap: 100px;
}
ul {
  list-style: none;
}
li a {
  color: #fff;
  font-size: 14px;
  font-family: Roboto;
  line-height: 160%;
  opacity: 0.7799999713897705;
}
li {
  padding-bottom: 24px;
}
footer {
  background: var(--black, #0b0706);
}
.li1 {
  color: #fff;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 160%;
  padding-bottom: 24px;
}
.pf1 {
  color: #fff;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 140%;
  max-width: 440px;
  padding-bottom: 32px;
}
.input1 {
  border-radius: 4px;
  border: 1px solid rgba(235, 240, 249, 0.3);
  width: 456px;
  height: 64px;
  font-size: 16px;
  padding-left: 24px;
  background-color: transparent;
}
.input-btn {
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
  height: 62px;
  border: none;
  padding: 16px 32px;
  margin-left: -40px;
  margin-top: -2px;
}
form {
  display: flex;
  align-items: center;
}
.contribution-content {
  margin-top: 96px;
  margin-bottom: 96px;
  padding-top: 93px;
  background-image: url(../assets/img20.svg);
  height: 394px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p20 {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  max-width: 631px;
  padding-bottom: 32px;
}
.d21 .btn1 {
  border-radius: 4px;
  background: var(--green-primary, #70c174);
  backdrop-filter: blur(40px);
  padding: 16px 32px;
}
.d21 .btn1 a {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
}
.d21 .btn2 {
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
  padding: 16px 32px;
}
.d21 .btn2 a {
  color: var(--primary-text, #1d2130);
  text-align: right;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
}
.d21 {
  display: flex;
  align-items: center;
  column-gap: 32px;
}
.p21 {
  color: var(--primary-text, #1d2130);
  font-size: 40px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 140%;
  padding-bottom: 48px;
}
.p22 {
  padding-bottom: 8px;
  color: var(--black, #1c1d28);
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  width: 290px;
}
.d22 {
  width: 290px;
  padding-top: 16px;
}
.p23 {
  color: var(--secondary-text, #525560);
  font-size: 16px;
  font-family: Roboto;
  line-height: 160%;
  max-width: 290px;
}
button {
  outline: none;
  border: none;
}
