@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
.container {
  padding: 0px 20px;
  margin: 0 auto;
  max-width: 1320px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding: 12px;
}
.nav-btn {
  padding: 12px 32px;
  border-radius: 4px;
  background: var(--primary-text, #1d2130);
}
.nav-btn a {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}
.nav-items {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.nav-links {
  color: var(--secondary-text, #525560);
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
}
.nav-links:hover {
  color: var(#000);
  font-size: 16px;
}
.hero {
  background-image: url(../assets/img1.png);
  background-size: cover;
  height: 735px;
  background-repeat: no-repeat;
}
.p1 {
  padding-top: 128px;
  padding-bottom: 48px;
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  max-width: 640px;
}
.hero-btn1 {
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
}
.d2 {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.p2 {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
}
.d1 {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.line1 {
  width: 861px;
  display: block;
  background: #e5e5e5;
  backdrop-filter: blur(15px);
  height: 1px;
}
.p3,
.p4 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.d3 {
  padding-top: 192px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 62px;
}
.about-content {
  padding-top: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 64px;
}
.line2 {
  width: 72px;
  display: block;
  background-color: rgba(29, 33, 48, 1);
  height: 1px;
  margin-top: 8px;
}

.p5 {
  color: var(--primary-text, #1d2130);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 32px;
}
.d7 {
  display: flex;
  align-items: flex-start;
  column-gap: 24px;
}
.p6 {
  padding-bottom: 32px;
  color: var(--primary-text, #1d2130);
  /* H2 */
  font-size: 48px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 120%;
  max-width: 580px;
}
.p7 {
  padding-bottom: 48px;
  color: var(--secondary-text, #525560);
  /* Paragraph */
  font-size: 16px;
  font-family: Roboto;
  line-height: 160%;
  max-width: 608px;
}
.about-btn {
  color: #fff;
  text-align: right;
  font-size: 16px;
  padding: 16px 32px;
  font-weight: 500;
  border-radius: 4px;
  background: var(--green-primary, #70c174);
  backdrop-filter: blur(40px);
}
.line3 {
  width: 1094px;
  display: block;
  background: #e5e5e5;
  height: 1px;
}
.p8 {
  color: var(--primary-text, #1d2130);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.d8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 35px;
}
.d9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 65px;
}
.d10 {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding-top: 96px;
  padding-bottom: 32px;
}
.line4 {
  width: 72px;
  display: block;
  background-color: rgba(29, 33, 48, 1);
  height: 1px;
}
.p9 {
  color: var(--primary-text, #1d2130);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.d12 {
  padding-left: 96px;
}
.p10 {
  color: var(--primary-text, #1d2130);
  /* H2 */
  font-size: 48px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 16px;
  max-width: 580px;
}
.p11 {
  color: var(--secondary-text, #525560);
  /* Paragraph */
  font-size: 16px;
  font-family: Roboto;
  line-height: 160%;
  padding-bottom: 33px;
  max-width: 608px;
}
.d14 {
  display: flex;
  column-gap: 24px;
}
.p12 {
  color: var(--primary-text, #1d2130);
  font-size: 24px;
  font-family: Roboto;
  font-weight: 700;
  padding-bottom: 8px;
}
.p13 {
  color: var(--secondary-text, #525560);
  /* Paragraph */
  font-size: 16px;
  font-family: Roboto;
  line-height: 160%;
  max-width: 384px;
}
.d11 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 96px;
}
.what-we-do {
  background: var(--green-tertiary, #eff7f2);
}
.p14 {
  color: var(--primary-text, #1d2130);
  /* H2 */
  font-size: 48px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 120%;
  max-width: 640px;
  padding-left: 96px;
  padding-bottom: 65px;
}
.card1 {
  background-image: url(../assets/img16.png);
  background-repeat: no-repeat;
  padding-left: 48px;
  padding-top: 80px;
  padding-bottom: 48px;
  padding-right: 48px;
}
.card2 {
  background-image: url(../assets/img17.png);
  background-repeat: no-repeat;
  padding-left: 48px;
  padding-top: 80px;
  padding-bottom: 48px;
  padding-right: 48px;
}
.card3 {
  background-image: url(../assets/img18.png);
  background-repeat: no-repeat;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 80px;
  padding-bottom: 58px;
}
.cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 96px;
}
.p15 {
  color: #fff;
  /* H3 */
  font-size: 28px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  max-width: 250px;
  padding-bottom: 10px;
}
.p16 {
  color: #fff;
  /* Paragraph */
  font-size: 16px;
  font-family: Roboto;
  line-height: 160%;
  max-width: 315px;
  padding-bottom: 64px;
}
.card-btn {
  padding: 16px 32px;
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
  color: var(--primary-text, #1d2130);
  text-align: right;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
}
.p17 {
  font-size: 48px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 120%;
  max-width: 611px;
  color: #fff;
  padding-bottom: 16px;
}
.p18 {
  color: #fff;
  /* Paragraph */
  font-size: 16px;
  font-family: Roboto;
  line-height: 160%;
  max-width: 606px;
  opacity: 0.6000000238418579;
  padding-bottom: 32px;
}
.donation {
  background: var(--black, #0b0706);
}
.column1 {
  border-radius: 4px;
  background: var(--green-secondary, #bef3c0);
  width: 16px;
  height: 16px;
}
.column2 {
  border-radius: 4px;
  background: #ac94f1;
  width: 16px;
  height: 16px;
}
.column3 {
  border-radius: 4px;
  background: #fff0ca;
  width: 16px;
  height: 16px;
}
.column4 {
  border-radius: 4px;
  background: #f9cf64;
  width: 16px;
  height: 16px;
}
.column5 {
  border-radius: 4px;
  background: #f38fbf;
  width: 16px;
  height: 16px;
}
.p19 {
  color: #fff;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 160%;
}
.d18 {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.d17 {
  display: flex;
  align-items: center;
  column-gap: 24px;
  padding-bottom: 16px;
}
.donation-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 96px;
}
.contribution-content {
  margin-top: 96px;
  margin-bottom: 96px;
  padding-top: 93px;
  background-image: url(../assets/img20.svg);
  height: 394px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p20 {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  max-width: 631px;
  padding-bottom: 32px;
}
.d21 .btn1 {
  border-radius: 4px;
  background: var(--green-primary, #70c174);
  backdrop-filter: blur(40px);
  padding: 16px 32px;
}
.d21 .btn1 a {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
}
.d21 .btn2 {
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
  padding: 16px 32px;
}
.d21 .btn2 a {
  color: var(--primary-text, #1d2130);
  text-align: right;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
}
.d21 {
  display: flex;
  align-items: center;
  column-gap: 32px;
}
.p21 {
  color: var(--primary-text, #1d2130);
  font-size: 40px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 140%;
  padding-bottom: 48px;
}
.p22 {
  padding-bottom: 8px;
  color: var(--black, #1c1d28);
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  width: 290px;
}
.d22 {
  width: 290px;
  padding-top: 16px;
}
.p23 {
  color: var(--secondary-text, #525560);
  font-size: 16px;
  font-family: Roboto;
  line-height: 160%;
  max-width: 290px;
}
.news-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 96px;
}
.p24 {
  color: var(--primary-text, #1d2130);
  font-size: 40px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 140%;
  padding-bottom: 48px;
}
.p25 {
  color: var(--primary-text, #1d2130);
  font-size: 48px;
  font-family: Roboto;
  font-weight: 500;
  font-variant: small-caps;
  line-height: 120%;
}
.p26 {
  color: var(--primary-text, #1d2130);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.p27 {
  color: var(--primary-text, #1d2130);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 8px;
}
.line5 {
  background: #1d2130;
  width: 44px;
  height: 2px;
  display: block;
  margin-top: 10px;
}
.d23 {
  display: flex;
  column-gap: 25px;
  border-radius: 8px;
  background: var(--green-secondary, #bef3c0);
  width: 628px;
  height: 191px;
  padding-top: 42px;
  padding-left: 40px;
}
.d27 {
  display: flex;

  column-gap: 20px;
}
.p28 {
  color: var(--primary-text, #1d2130);
  /* H3 */
  font-size: 28px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 150%;
  max-width: 368px;
}
.d26 {
  padding-top: 20px;
}
.d28 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 96px;
}
#d26 {
  padding-left: 30px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer2 {
  display: flex;
  column-gap: 100px;
}
ul {
  list-style: none;
}
li a {
  color: #fff;
  font-size: 14px;
  font-family: Roboto;
  line-height: 160%;
  opacity: 0.7799999713897705;
}
li {
  padding-bottom: 24px;
}
footer {
  background: var(--black, #0b0706);
}
.li1 {
  color: #fff;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 160%;
  padding-bottom: 24px;
}
.pf1 {
  color: #fff;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 140%;
  max-width: 440px;
  padding-bottom: 32px;
}
.input1 {
  border-radius: 4px;
  border: 1px solid rgba(235, 240, 249, 0.3);
  width: 456px;
  height: 64px;
  font-size: 16px;
  padding-left: 24px;
  background-color: transparent;
}
.input-btn {
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
  height: 62px;
  border: none;
  padding: 16px 32px;
  margin-left: -40px;
  margin-top: -2px;
}
form {
  display: flex;
  align-items: center;
}
